<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-5 mb-3 bg-white border-bottom box-shadow">
  <a href="" id="logo" class="mr-md-auto">
    <img src="./assets/bdd-shield.png" alt="BDD BREWING COMPANY">
  </a>
  <nav class="my-2 my-md-0 mr-md-3 d-flex flex-column flex-md-row">
    <a class="p-3 text-dark h2" routerLink="">HOME</a>
    <a class="p-3 text-dark h2" routerLink="/beer">BEER</a>
    <a class="p-3 text-dark h2" href="#">ON TAP</a>
    <a class="p-3 text-dark h2" href="#">STORE</a>
  </nav>
</div>

<router-outlet></router-outlet>

<footer class="pt-4 my-3 border-top container-fluid">
  <div class="row">
    <div class="col-0 col-md-3">
    </div>
    <div class="col-6 col-md-3">
      <h5>BDD BREWING COMPANY</h5>
      <ul class="list-unstyled text-small">
        <li>
          <span class="text-white">1147 Falls Road, Suite 107</span>
        </li>
        <li>
          <span class="text-white">Rocky Mount, North Carolina</span>
        </li>
        <li>
          <span class="text-white">phone: (919) 123-4567</span>
        </li>
        <li>
          <span class="text-white">email: bddbrewingco@gmail.com</span>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <h5>TASTING ROOM HOURS</h5>
      <ul class="list-unstyled text-small">
        <li>
          <span class="text-white">Thursday: 7-10pm</span>
        </li>
        <li>
          <span class="text-white">Friday: 7-12am</span>
        </li>
        <li>
          <span class="text-white">Saturday: 1-12am</span>
        </li>
        <li>
          <span class="text-white">Sunday: 1-10pm</span>
        </li>
      </ul>
    </div>
    <div class="col-0 col-md-3">
    </div>
  </div>
</footer>